﻿@* <!DOCTYPE html> *@
@* <html> *@
@* <head> *@
@*     <meta charset="utf-8" /> *@
@*     <meta name="viewport" content="width=device-width, initial-scale=1.0" /> *@
@*     <title>@ViewData["Title"] - UserMng</title> *@
@* *@
@*     <environment include="Development"> *@
@*         <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> *@
@*     </environment> *@
@*     <environment exclude="Development"> *@
@*         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" *@
@*               asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" *@
@*               asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" *@
@*               crossorigin="anonymous" *@
@*               integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/> *@
@*     </environment> *@
@*     <link rel="stylesheet" href="~/css/site.css" /> *@
@* </head> *@
@* <body> *@
@*     <header> *@
@*         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
@*             <div class="container"> *@
@*                 <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Student Management</a> *@
@*                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
@*                         aria-expanded="false" aria-label="Toggle navigation"> *@
@*                     <span class="navbar-toggler-icon"></span> *@
@*                 </button> *@
@*                 <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"> *@
@*                     <ul class="navbar-nav flex-grow-1"> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
@*                         </li> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*                         </li> *@
@*                     </ul> *@
@*                 </div> *@
@*             </div> *@
@*         </nav> *@
@*     </header> *@
@*     <div class="container"> *@
@*         <partial name="_CookieConsentPartial" /> *@
         @* <main role="main" class="pb-3"> *@
         @*     @RenderBody() *@
         @* </main> *@
@*     </div> *@
@* *@
@*     <footer class="border-top footer text-muted"> *@
@*         <div class="container"> *@
@*             &copy; 2019 - EFGetStarted.AspNetCore.ExistingDb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*         </div> *@
@*     </footer> *@
@* *@
@*     <environment include="Development"> *@
@*         <script src="~/lib/jquery/dist/jquery.js"></script> *@
@*         <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script> *@
@*     </environment> *@
@*     <environment exclude="Development"> *@
@*         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" *@
@*                 asp-fallback-src="~/lib/jquery/dist/jquery.min.js" *@
@*                 asp-fallback-test="window.jQuery" *@
@*                 crossorigin="anonymous" *@
@*                 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="> *@
@*         </script> *@
@*         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" *@
@*                 asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" *@
@*                 asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal" *@
@*                 crossorigin="anonymous" *@
@*                 integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"> *@
@*         </script> *@
@*     </environment> *@
@*     <script src="~/js/site.js" asp-append-version="true"></script> *@
@* *@
@*     @RenderSection("Scripts", required: false) *@
@* </body> *@
@* </html> *@
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="FlatBest - Responsive One Page Fast Loading">
    <meta name="keywords" content="One Page, Bootstrap, Website, Business, Resume, Portfolio, Template, Unlimited Colors">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <title>Student Management</title>
    @* google fonts *@
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Raleway:500,600,700">
    @* favicon icon *@
    <link rel="icon" href="~/images/favicon.ico">
    @* Bootstrap *@
    <link rel="stylesheet" href="~/css/css/bootstrap.min.css">
    @* Font icon *@
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css">
    @* Corousel and Lightbox *@
    <link rel="stylesheet" href="~/css/css/owl.theme.css">
    <link rel="stylesheet" href="~/css/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/css/nivo-lightbox.css">
    <link rel="stylesheet" href="~/css/css/themes/default/default.css">
    @* Color *@
    <link rel="stylesheet" href="~/css/css/colors/color.css">
    @* Preloader *@
    <link rel="stylesheet" href="~/css/css/preloader.css">
    @* style.css *@
    <link rel="stylesheet" href="~/css/css/style.css">
    @* <link rel="stylesheet" href="~/css/custom.min.css"/> *@
    <link rel="stylesheet" href="~/css/css/responsive.css">
    @* <link rel="stylesheet" href="~/css/css/custom.css"/> *@

</head>
<body>
@* preloaders *@
<div class="preloaders">
    <div class="preloaders-gif">&nbsp;</div>
</div>

@* Header *@
<header id="home">
    @* overlay image *@
    <div class="background-overlay">
        <div class="container-header">
            @* Sticky Navigation *@
            <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation bgc-two">
                <div class="container">
                    <div class="navbar-header">
                        @* Logo on Sticky Navigation Bar *@
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#onepage-navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">STUDENT MNG</a>
                    </div>
                    @* Navigation Menu *@
                    <div class="navbar-collapse collapse" id="onepage-navigation">
                        <ul class="nav navbar-nav navbar-right main-navigation">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#section-about">Privacy</a></li>
                            <li><a asp-area="" asp-controller="Student" asp-action="Index">Student List</a></li>
                            <li><a href="#section-pricing">Class List</a></li>
                            <li><a href="#section-portfolio">Lorem</a></li>
                            <li><a href="#section-testimonial">Team</a></li>
                            <li><a href="#section-contact">Contact Us</a></li>
                        </ul>
                    </div>         
                </div>
            </div>
        </div>
        @* Welcome *@
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 distance-header">
                    <h1>
                        <strong>STUDENT MANAGEMENT</strong>
                    </h1>
                    <div class="underline"></div>
                    <h1>
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </h1>
                    @* Call To Action Button *@
                    <div id="call_to_action-5" class="distance-button">	
                        <a href="#section-about" class="btn standard-button">()</a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</header>
 @* Section About *@
<section class="section-about bgc-one" id="section-about">
    <div class="container">
    
        <h2>PRIVACY</h2>
        <div class="underline">
        </div>

        <p>
            Use this page to detail your site's privacy policy.
        </p>
                
    
        <div class="row">
            <div class="col-md-6">
                <!-- ===== Images ===== -->
                <div class="side-images pull-left">
                    <img src="~/css/images/pro1.jpg" alt="Feature" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6">
            
                <div class="about text-left">
                
                    <!-- ===== Features List ===== -->
                    <ul class="feature-list">
                    
                        <li>
                            <!-- ===== Icons ===== -->
                            <div class="icon-custom pull-left">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <!-- ===== Detailt Post===== -->
                            <div class="details pull-left">
                                <h6>Fully Responsive</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor nesciunt excepturi officiis, voluptates unde illum, sequi adipisci impedit mollitia vitae beatae, maiores architecto ipsum. Autem nobis tenetur expedita, pariatur enim!
                                </p>
                            </div>
                        </li>
                    
                        <li>
                            <!-- ===== Icons ===== -->
                            <div class="icon-custom pull-left">
                                <i class="fa fa-cog"></i>
                            </div>
                            <!-- ===== Details Post ===== -->
                            <div class="details pull-left">
                                <h6>Eesy edit</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet error cum, aut beatae officiis doloribus vel odit a quia veritatis illum ad minima vitae unde, mollitia sapiente placeat id fuga?
                                </p>
                            </div>
                        </li>
                    
                        <li>
                            <!-- ===== Icons ===== -->
                            <div class="icon-custom pull-left">
                                <i class="fa fa-photo"></i>
                            </div>
                            <!-- ===== Detail Post ===== -->
                            <div class="details pull-left">
                                <h6>Photo</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque, dignissimos perspiciatis veritatis pariatur! Cupiditate minus sunt ex delectus possimus, adipisci et at animi eos soluta, ipsam, molestias facere dignissimos!
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        
        </div>
    
    </div> 

</section>

@* Team *@
<section id="section-testimonial" class="bgc-two">
      
    <div class="bg-color bg-testimonial">
        <div class="section-testimonial section-padding">
            <div class="testimonial-slide">
                <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-testimonial" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-testimonial" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">

                    <div class="item">
                        <div class="image">
                          <img src="~/css/images/testimonials/doe1.jpg" alt="">
                        </div>                  
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium minus, earum optio amet consequatur vero ipsum saepe quis accusantium! Illum soluta impedit odio fugiat maiores fuga nostrum, molestiae vero sit.</p>
                           <h4>Joni Doe</h4>
                           <h5>Writer</h5>
                        </div>                   
                    </div> 

                    <div class="item active left">
                        <div class="image">
                          <img src="~/css/images/testimonials/doe2.jpg" alt="">
                        </div>                  
                        <div class="content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum delectus sed distinctio provident laboriosam culpa, cumque quasi omnis sit illum velit doloribus voluptate quibusdam laudantium in. Rerum autem, ipsum fugit.</p>
                          <h4>Jonathan Doe</h4>
                          <h5>Web Designer</h5>
                        </div>                  
                    </div> 

                    <div class="item next left">
                        <div class="image">
                          <img src="~/css/images/testimonials/doe3.jpg" alt="">
                        </div>                  
                        <div class="content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quis quod eos placeat iusto, aliquid, dicta odit ipsum facere tenetur aperiam commodi sit nostrum libero reiciendis accusantium, cumque tempora deleniti.</p>
                          <h4>William Doe</h4>
                          <h5>Web developer</h5>
                        </div>                  
                    </div> 

                    </div> 
                </div>
            </div> 
        </div> 
    </div>

</section>



@* Contact Us *@
<section id="section-contact" class="section-contact bgc-one">
    <div class="container">
	
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
			
                <h2>Contact</h2>
                <div class="underline"></div>
                <div class="sub-sub">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elitRepellat, ea laudantium.
                </div>
			
                @* Form  *@
                <form class="contact-form" id="contact" role="form">

                    <!-- ===== Succes Send Email ===== -->
                    <h6 class="success">
                        <span class="olored-text icon_check"></span> Your message successfully. </h6>

                    <!-- ===== Error Send Email ===== -->
                    <h6 class="error">
                        <span class="colored-text icon_error-circle_alt"></span> your message sent pending. </h6>

                    <div class="field-wrapper col-md-6">
                        <input class="form-control input-box" id="contact-form-name" type="text" name="contact-form-name" placeholder="Your Name">
                    </div>

                    <div class="field-wrapper col-md-6">
                        <input class="form-control input-box" id="contact-form-email" type="email" name="contact-form-email" placeholder="Email">
                    </div>

                    <div class="field-wrapper col-md-12">
                        <input class="form-control input-box" id="contact-form-subject" type="text" name="contact-form-subject" placeholder="Subject">
                    </div>

                    <div class="field-wrapper col-md-12">
                        <textarea class="form-control textarea-box" id="contact-form-message" rows="7" name="contact-form-message" placeholder="Your Message"></textarea>
                    </div>

                    <button class="btn standard-button" type="submit" id="contact-form-submit" name="submit" data-style="expand-left">Send Message</button>
                </form>
                @* End Form  *@
			
            </div>
        </div>
	
    </div>

</section>

@* Footer *@
<footer class="bgc-two">
    <div class="container">
        <ul class="social-icons">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-google"></i></a></li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
        </ul>
        <div class="copyright">
            ©2019 All Right Reserved. 
        </div>
    </div>
</footer>
<script src="~/js/js/jquery.min.js"></script>
<script src="~/js/js/preloader.js"></script>
<script src="~/js/js/bootstrap.min.js"></script>
<script src="~/js/js/retina.js"></script>
<script src="~/js/js/SmoothScroll.js"></script>
<script src="~/js/js/jquery.scrollTo.min.js"></script>
<script src="~/js/js/jquery.localScroll.min.js"></script>
<script src="~/js/js/owl.carousel.min.js"></script>
<script src="~/js/js/nivo-lightbox.min.js"></script>
<script src="~/js/js/simple-expand.min.js"></script>
<script src="~/js/js/jquery.nav.js"></script>
<script src="~/js/js/jquery.fitvids.js"></script>
<script src="~/js/js/jquery.ajaxchimp.min.js"></script>
<script src="~/js/js/custom.js"></script>
</body>
</html>
